# Wrapper functions

Here we demonstrate how to use the `Experiment` class with the `multiple_replications()` function.

> To see how the `multiple_replications()` function works see the [replications notebook](../02_simpy/06_replications.ipynb). This function simply wraps the the `single_run()` function. To see how `single_run()` initiates a simpy model replication see the [experiments notebook](../02_simpy/05_experiments.ipynb)

## 1. Imports

To use and configure the model we need to import the `Experiment` class and the `multiple_replications()` function.

In [6]:
import pandas as pd
from model import Experiment, multiple_replications

## 2. Setup and run an experiment

### 2.1 An experiment using default settings

In [7]:
default_scenario = Experiment()
results = multiple_replications(default_scenario, n_reps=5)

In [8]:
results

,01_mean_waiting_time,02_operator_util,03_mean_nurse_waiting_time,04_nurse_util
rep,,,,
1,3.474506,94.169222,59.789247,96.469209
2,3.435557,93.250190,76.046627,97.807598
3,2.459446,93.032404,39.578826,97.681627
4,3.910750,93.942808,57.453851,97.538619
5,2.691393,91.658496,82.610027,97.314436

In [9]:
results.describe()

,01_mean_waiting_time,02_operator_util,03_mean_nurse_waiting_time,04_nurse_util
count,5.000000,5.000000,5.000000,5.000000
mean,3.194330,93.210624,63.095716,97.362298
std,0.600614,0.987096,16.914062,0.531801
min,2.459446,91.658496,39.578826,96.469209
25%,2.691393,93.032404,57.453851,97.314436
50%,3.435557,93.250190,59.789247,97.538619
75%,3.474506,93.942808,76.046627,97.681627
max,3.910750,94.169222,82.610027,97.807598

### 2.2 An experiment with an extra operator

In [10]:
extra_operator = Experiment(n_operators=14)
results = multiple_replications(default_scenario, n_reps=5)
results.describe()

,01_mean_waiting_time,02_operator_util,03_mean_nurse_waiting_time,04_nurse_util
count,5.000000,5.000000,5.000000,5.000000
mean,3.181691,93.626676,51.136913,96.908885
std,0.722496,2.153682,22.411248,0.896177
min,2.311500,90.806729,35.341660,95.545920
25%,2.736807,91.980830,36.022058,96.687738
50%,3.232275,94.481029,37.919292,96.879088
75%,3.407231,94.866138,59.366516,97.679015
max,4.220642,95.998654,87.035037,97.752665

### 2.3 An experiment based on python script using variables

Here we create a basic script for where a user can manually hard code parameters and run the simulation model.

In [11]:
# set number of resources
n_operators = 13
n_nurses = 9

# set chance of nurse
chance_callback = 0.4

# set number of replications
n_reps = 5

# create experiment
exp = Experiment(n_operators=n_operators, n_nurses=n_nurses,
                 chance_callback=chance_callback)

# run multiple replications of experment
results = multiple_replications(exp, n_reps=n_reps)

# show results
results.describe()

,01_mean_waiting_time,02_operator_util,03_mean_nurse_waiting_time,04_nurse_util
count,5.000000,5.000000,5.000000,5.000000
mean,4.821640,94.794466,54.751142,97.347627
std,2.492161,1.777671,28.652938,0.597229
min,2.668570,93.486928,22.241330,96.384341
25%,2.728666,93.513345,31.972036,97.268179
50%,4.075149,94.505234,61.601722,97.456665
75%,6.133156,94.642067,63.347873,97.664954
max,8.502657,97.824755,94.592748,97.963996